<div class="col-md-12">
  <div class="panel panel-default menu-item">
    <%= link_to item_menu_path(menu_item.id) do %>
      <%= image_tag menu_item.image_url, class: 'card-img' %>
      <div class="card-block row">  
        <div class="name col-xs-6">        
          <%= menu_item.name %>
        </div>
        <div class="price col-xs-6">
          <%= menu_item.price %> đ
        </div>
        <div class="col-xs-12">
          <%= menu_item.description %>
        </div>
      </div>
    <% end %>
  </div>
</div>