<div class="row">
	<div class="btn-group-vertical col-md-3" role="group" aria-label="Basic example">
		<%= link_to "All", menu_path, class: 'btn btn-default' %>
		<%= link_to "Breakfast", menu_path(section: "breakfast"), class: 'btn btn-default' %>
		<%= link_to "Lunch", menu_path(section: "lunch"), class: 'btn btn-default' %>
		<%= link_to "Dinner", menu_path(section: "dinner"), class: 'btn btn-default' %>
		<%= link_to "Drink", menu_path(section: "drink"), class: 'btn btn-default' %>
	</div>	
	<div class="col-md-6 item-containers">
		<div class="row search">
			<%= form_tag("/menu/index", method: "get", class: "col-md-12") do %>
			  <div class="input-group">
			    <input type="text" class="form-control" name="search" aria-describedby="basic-addon1">			    
			    <span class="input-group-btn">
			      <button class="btn btn-default" type="submit">Search</button>
			    </span>
			  </div>
			<% end %>
		</div>
		<div class="row">
			<%= render partial: 'menu_item', collection: @menuItems, as: :menu_item %>
		</div>		
	</div>
	<div class="col-md-3 sort">
		Sort by:
		<ul>
			<li><%= link_to "alphabetical", menu_path(request.query_parameters.merge(sort: "abc")), class: '' %></li>
			<li><%= link_to "price low to high", menu_path(request.query_parameters.merge(sort: "price_asc")), class: '' %></li>
			<li><%= link_to "price high to low", menu_path(request.query_parameters.merge(sort: "price_desc")), class: '' %></li>
		</ul>
	</div>
</div>